<div class="show">
  <div class="box">
    <div class="title">正常</div>
    <div class="content">
      <app-datepicker [mode]="'AD'"></app-datepicker>
    </div>
  </div>
  <div class="box">
    <div class="title">有截止日</div>
    <div class="content">
      <app-datepicker [closeDate]="closeDate"></app-datepicker>
    </div>
  </div>
  <div class="box">
    <div class="title">起迄日</div>
    <app-between-date></app-between-date>
  </div>
</div>


<!-- form start -->
<div class="show">
  <form [formGroup]="test">
    <input type="text" formControlName="name" />
    <app-datepicker
      (outputDate)="date($event)"
    ></app-datepicker>
  </form>
  <div>
    {{ test.value | json }}
  </div>
</div>
