<div class="date-picker" #date_picker>
  <!-- 日期format -->
  <!-- 最終選定 start -->
  <div class="selected-date" (click)="toggleCalendar($event)">
    <ng-container>
      {{ selected_date | taiwanDate: "YMD":numberOnly }}
    </ng-container>
  </div>
  <!-- 最終選定 end -->
  <!-- calendar start -->
  <div class="dates" #dates>
    <!-- 日期日曆 start -->
    <!-- header start -->
    <div class="header-box">
      <div class="years">
        <select
          name="year"
          id=""
          (click)="stopPropagation($event)"
          (change)="selectYear($event)"
          [(ngModel)]="selected_year"
        >
          <ng-container *ngFor="let year of years">
            <option [value]="year">{{ year }}年</option>
          </ng-container>
        </select>
      </div>
      <div class="months">
        <select
          name="month"
          id=""
          (click)="stopPropagation($event)"
          (change)="selectMonth($event)"
          [(ngModel)]="selected_month"
        >
          <ng-container *ngFor="let month of months">
            <option [value]="month">{{ month + 1 }}月</option>
          </ng-container>
        </select>
      </div>
      <div class="move">
        <span class="arrow-btn" (click)="prevMth($event)">&lt;</span>
        <span class="arrow-btn" (click)="nextMth($event)">&gt;</span>
      </div>
    </div>
    <!-- choose date start -->
    <div class="weeks">
      <div class="week" *ngFor="let week of weekZh">{{ week }}</div>
    </div>
    <div class="days">
      <div
        class="day"
        (click)="selectDate($event, day)"
        *ngFor="let day of days"
        [class.not-present]="!presentMth(day) || overCloseDate(day)"
        [class.selected]="presentDate(day)"
      >
        {{ day | date: "d" }}
      </div>
    </div>
    <!-- 日期日曆 end -->
    <!-- today start -->
    <div class="today" (click)="selectToday($event)">今天</div>
    <!-- today end -->
  </div>
  <!-- calendar end -->
</div>
<!-- {{finaltime}} -->
