$primay-color: #1890ff;
$secondary-color: #d9d9d9;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-picker {
  width: 200px;
  position: relative;
  border: 1px solid $secondary-color;
  &:hover {
    border: 1px solid $primay-color;
  }
}

// display format

// popout modal start
.dates {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  &.active {
    display: block;
  }
}
//header start
.header-box {
  display: flex;
  border: 1px solid $secondary-color;
  justify-content: space-around;
  padding: 4px 0;
}

.header-label {
  flex: 1;
  @include flex-center();
}

.arrow-btn {
  cursor: pointer;
  width: 16px;
  text-align: center;
  color: $secondary-color;
  display: inline-block;
  &:hover {
    color: #000;
  }
}

//calendar start
.weeks,
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.week,
.day {
  @include flex-center();
}

.day,
.year {
  cursor: pointer;
}

.years,
.months {
  @include flex-center();
}

.not-present {
  cursor: not-allowed;
  color: $secondary-color;
}

.day.selected {
  background-color: $primay-color;
  color: #fff;
}

// 底部今天
.today {
  @include flex-center();
  border-top: 1px solid $secondary-color;
  color: $primay-color;
}
