<div class="date-picker" #date_picker>
  <!-- 日期format -->
  <div class="selected-date" (click)="toggleCalendar($event)">
    <!-- <ng-container>
      {{ selected_date | date: "MMM d, y" }}
    </ng-container> -->
    <ng-container>
      {{ selected_date | taiwanDate: "YMD":numberOnly }}
    </ng-container>
  </div>
  <!-- calendar start -->
  <div class="dates" #dates>
    <ng-container [ngSwitch]="calendarMode">
      <!-- 日期日曆 start -->
      <ng-container *ngSwitchCase="'date'">
        <!-- header start -->
        <div class="header-box">
          <span class="arrow-btn" (click)="prevYear($event)">&lt;&lt;</span>
          <span class="arrow-btn" (click)="prevMth($event)">&lt;</span>
          <span class="header-label" (click)="showYear($event)">{{
            headerDate | taiwanDate: "YM":numberOnly
          }}</span>
          <span class="arrow-btn" (click)="nextMth($event)">&gt;</span>
          <span class="arrow-btn" (click)="nextYear($event)">&gt;&gt;</span>
        </div>
        <!-- choose date start -->
        <div class="weeks">
          <div class="week" *ngFor="let item of weekZh">{{ item }}</div>
        </div>
        <div class="days">
          <div
            class="day"
            (click)="selectDate($event, item)"
            *ngFor="let item of days"
            [class.not-present]="!presentMth(item)"
            [class.selected]="presentDate(item)"
          >
            {{ item | date: "d" }}
          </div>
        </div>
      </ng-container>
      <!-- 日期日曆 end -->
      <!-- 年份選擇 start -->
      <ng-container *ngSwitchCase="'year'">
        <div class="header-box">
          <span class="arrow-btn" (click)="prevDecade($event)">&lt;</span>
          <span class="header-label" (click)="showYear($event)">{{
            headerDate | taiwanDate: "Y":numberOnly
          }}</span>
          <span class="arrow-btn" (click)="nextDecade($event)">&gt;</span>
        </div>
        <!-- choose year start -->
        <div class="years">
          <div
            class="year"
            *ngFor="let year of years"
            (click)="selectYear($event, year)"
          >
            {{ year | taiwanDate: "Y":true }}
          </div>
        </div>
        <!-- choose year end -->
      </ng-container>
      <!-- 年份選擇 end -->
    </ng-container>
    <!-- today start -->
    <div class="today" (click)="selectToday($event)">今天</div>
    <!-- today end -->
  </div>
  <!-- calendar end -->
</div>
<!-- {{finaltime}} -->
