$primay-color: blue;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-picker {
  width: 100%;
  max-width: 200px;
  position: relative;
}

.date-picker:hover {
  outline: 1px solid $primay-color;
}
// display format
.selected-date {
}

// popout modal start
.dates {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  &.active {
    display: block;
  }
}
//header start
.header-box {
  display: flex;
}

.header-label {
  flex: 1;
  @include flex-center();
}

//calendar start
.weeks,
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.week,
.day {
  @include flex-center();
}

.day.not-present {
  color: #aaa;
}

.day.selected {
  outline: 1px solid $primay-color;
}

// 底部今天
.today{
  @include flex-center();
  color: $primay-color;
}
